@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "typo";
@import "var";

body {
  margin: 0;
}

body, button {
  font-family: "Hanken Grotesk", 'Inter', -apple-system, ui-snas-serif, system-ui, 'PingFang SC', '微软雅黑', 'Microsoft YaHei UI', sans-serif;
  font-optical-sizing: auto;
}

pre, code, original .content {
  font-family: 'Cascadia Code', 'Cascadia Mono', ui-monospace, Consolas, monospace;
}

.spacer {
  flex: 1;
}

a:visited {
  color: #5d25c6;
}

a:link {
  color: #007aff;
}